{% extends 'base.html' %}
{% load static %}
{% block content %}
    <table class="table">
        <thead>
        <tr style="border-bottom-color: #2D9CDB; border-width: 0 0 2px 0;">
            <th scope="col">Кадастровый номер</th>
            <th scope="col">Тип работ</th>
            <th scope="col">Регион</th>
            <th scope="col">Город</th>
            <th scope="col">Район</th>
            <th scope="col">Дата заявки</th>
            <th scope="col">Ссылка на админку</th>
            <th scope="col">Город</th>
        </tr>
        </thead>
        <tbody>
        <tr style="border-bottom-color: #2D9CDB; border-width: 0 0 2px 0;">
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>

        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>lnkmlnk</td>
            <td>lnkmlnk</td>
            <td>lnkmlnk</td>
            <td>lnkmlnk</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
            <td>@ff</td>
            <td>@ff</td>
            <td>@twitter</td>
            <td>@gg</td>

        </tr>

        </tbody>
    </table>

{% endblock %}