{% extends 'base.html' %}
{% load static %}
{% block content %}
    <table class="table" style="color: grey">
        <thead>
        <tr style="border-bottom-color: #2D9CDB; border-width: 0 0 2px 0;">
            <th scope="col">Кадастровый номер</th>
            <th scope="col">Тип работ</th>
            <th scope="col">Регион</th>
            <th scope="col">Город</th>
            <th scope="col">Район</th>
            <th scope="col">Дата заявки</th>
            <th scope="col">Ссылка на админку</th>
        </tr>
        </thead>
        <tbody>
        <tr style="border-bottom-color: #2D9CDB; border-width: 0 0 2px 0;">
            <th>24:39:0101001:369</th>
            <td>Инженерно-гидрометеорологические изыскания</td>
            <td>Москва</td>
            <td>Москва</td>
            <td>Лефортово</td>
            <td>01.01.2001</td>
            <td><a href="#" class="link-primary">Подробнее</a></td>

        </tr>
        <tr style="border-bottom-color: #2D9CDB; border-width: 0 0 2px 0;">
            <th>24:39:0101001:369</th>
            <td>Инженерно-гидрометеорологические изыскания</td>
            <td>Москва</td>
            <td>Москва</td>
            <td>Лефортово</td>
            <td>01.01.2001</td>
            <td><a href="#" class="link-primary">Подробнее</a></td>
        </tr>
        <tr style="border-bottom-color: #2D9CDB; border-width: 0 0 2px 0;">
            <th>24:39:0101001:369</th>
            <td>Инженерно-гидрометеорологические изыскания</td>
            <td>Москва</td>
            <td>Москва</td>
            <td>Лефортово</td>
            <td>01.01.2001</td>
            <td><a href="#" class="link-primary">Подробнее</a></td>
        </tr>
        <tr style="border-bottom-color: #2D9CDB; border-width: 0 0 2px 0;">
            <th>24:39:0101001:369</th>
            <td>Инженерно-гидрометеорологические изыскания</td>
            <td>Москва</td>
            <td>Москва</td>
            <td>Лефортово</td>
            <td>01.01.2001</td>
            <td><a href="#" class="link-primary">Подробнее</a></td>
        </tr>

        </tbody>
    </table>

{% endblock %}