{% extends 'base.html' %}
{% load static %}

{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        {% include 'inc/_alerts.html' %}

                        <div class="d-flex justify-content-center py-4">
                            <a href="#" class="logo d-flex align-items-center w-auto">
                                <img src="{% static 'img/logo.png' %}" alt="">
                                <span class="d-none d-lg-block">Геозаказ</span>
                            </a>
                        </div><!-- End Logo -->

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <p class="text-center">Введите кадастровый(ые) номер(а)</p>
                                </div>
                                <div class="col-12 cadastal-container">
                                    <div class="search-bar">
                                        <form class="search-form  align-items-center" method="POST"
                                              action="#">
                                            {% csrf_token %}
                                            <input type="text" name="cadastral_number"
                                                   placeholder="Введите кадастровый номер" id="id_cadastral_number">
                                            <select multiple  class='select form-select disabled' name='select' style='overflow:hidden; display: none;'
                                                    required='' id='select'>
                                            </select>
                                            <br>
                                            <br>
                                            <div style='display:flex; justify-content: space-evenly;'>
                                                <button type="submit" style='background-color: #012970;' class='btn btn-primary'>Отправить</button>
                                                <button type='button' style='width: 25px; color: white; background-color: #012970;' onclick='AddCadastralNumber()' id='btn' disabled
                                                class='btn'>+</button>
                                            </div>
                                        </form> 
                                    </div>
                                </div>

                                {% if not request.user.is_authenticated %}

                                    <p class="text-center">или войдите в свой аккаунт</p></p>
                                    <div class="col-12 mb-3">
                                        <a href="{% url 'users:user_login' %}"
                                           class="btn btn-bd-primary w-100">Войти</a>
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">Нет учетной записи? <a
                                                href="{% url 'users:user_register' %}">Создать</a></p>
                                    </div>

                                {% endif %}


                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </section>
        <script>
            function GetSelectOption () {
                let cadastral_number = document.getElementById("id_cadastral_number");
                let option = document.createElement('option');
                let button = document.getElementById('btn')
                button.disabled = true;
                option.text = cadastral_number.value;
                option.selected = true;
                document.querySelector('#select').add(option);
            };

            function AddCadastralNumber() {
                GetSelectOption();
                select.style.cssText = 'display:block; overflow:hidden';
                document.getElementById('id_cadastral_number').value = ''
                
            };

            $('#id_cadastral_number').keyup(function () {
                button = document.getElementById('btn');    
                select = document.getElementById('select');;
                $.ajax({
                    data: $(this).serialize(),
                    url: "{% url 'zakaz:ajax_validate_cadastral_number' %}",
                    success: function (response) {
                        if (response.is_valid == true) {
                            button.disabled = false;
                        } 
                        else {
                            button.disabled = true;
                        }
                    },
                    error: function (response) {
                        console.log(response.responseJSON.errors)
                    }
                });
                return false;
            });
        </script>
    </div>

{% endblock %}