{% extends 'base.html' %}
{% load static %}
{% block content %}

    <script data-require="jquery" data-semver="3.1.1"
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
    <script src="/static/smart-selects/admin/js/chainedfk.js"></script>
    <script src="/static/smart-selects/admin/js/bindfields.js"></script>
    <link rel='stylesheet' href="{% static 'css/order.css' %}">

    <section>
        <form action={% url 'zakaz:change_order_status' order.pk %} method='POST' enctype='multipart/form-data'>
            {% csrf_token %}
            {% include 'inc/_alerts.html' %}
            <div class="row">
                <div class="col-sm-6 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <h5>Участок</h5>
                            </div>
                            <div class="mb-3">
                                <label for="{{ form.cadastral_number.id_for_label }}">Кадастровый номер</label>

                                <input class='form-control' disabled
                                       value='{% for cadastral_number in order.cadastral_numbers %} | {{ cadastral_number }} | {% endfor %}'>
                            </div>
                            <div>
                                <div class="card-title">
                                    <h5>Габариты здания</h5>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 mb-3 mb-sm-0">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="{{ form.length.id_for_label }}"
                                                           class="form-label">Длина</label>
                                                    <input class='form-control' disabled value='{{ order.length }}'/>
                                                    {% if order.length_unit == 'm' %}
                                                        м{% elif order.length_unit == 'км' %}км{% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="mb-3" id='width'>
                                                    <label for="{{ form.height.id_for_label }}"
                                                           class="form-label">Высота</label>
                                                    <input class='form-control' disabled
                                                           value='{{ order.height }}'/>
                                                    {% if order.height_unit == 'm' %}
                                                        м{% elif order.height_unit == 'floor' %}этаж{% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="{{ form.width.id_for_label }}"
                                                           class="form-label">Ширина</label>
                                                    <input class='form-control' disabled
                                                           value='{{ order.length }}'/>
                                                    {% if order.width_unit == 'm' %}м{% elif order.width_unit == 'кь' %}
                                                        км{% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="card-title">
                                        <h5>Адрес объекта</h5>
                                    </div>
                                    {{ order_form.media.js }}
                                    <label for="{{ form.region.id_for_label }}">Регион</label>
                                    <input class='form-control' disabled value='{{ order.region }}'></input>
                                    <br>
                                    <label for="{{ form.area.id_for_label }}">Район</label>
                                    <input class='form-control' disabled value='{{ order.area }}'></input>
                                    <br>
                                    <label for="{{ form.city.id_for_label }}">Населенный пункт</label>
                                    <input class='form-control' disabled value='{{ order.city }}'></input>
                                    <br>
                                    </select>
                                    <div class="mb-3">
                                        <label for="{{ form.street.id_for_label }}">Улица</label>
                                        <input class='form-control' disabled value='{{ order.street }}'></input>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="mb-3">
                                                        <label class='house_label'
                                                               for="{{ form.house_number.id_for_label }}">Номер
                                                            дома</label>
                                                        <input class='form-control' disabled
                                                               value='{{ order.house_number }}'></input>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="mb-3">
                                                        <label class='building_label'
                                                               for="{{ form.building.id_for_label }}">Корпус/Строение</label>
                                                        {% if order.building %}
                                                            <input class='form-control' disabled
                                                                   value='{{ order.building }}'>
                                                        {% else %}
                                                            <input class='form-control' disabled
                                                                   value='-'>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% if order.status %}
                                        <div style="max-width: 500px;">
                                            <div class="card-title">
                                                <h5>Статус заявки</h5>
                                            </div>
                                            {{ order.status }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if files %}
                        <div class="card" style="height: 250px; overflow-y: scroll;">

                            <div class="card-body">
                                <h5 class="card-title" style="padding: 0 0 15px 0;"></h5>
                                <div class="input-file-row">
                                    {% for file in files %}
                                        <p><a href="{{ file.file.url }}" download>
                                            <svg width="28" height="33" viewBox="0 0 28 33" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M17.8501 1L27.1176 9.72913M27.1176 9.72913H19.5351C19.0882 9.72913 18.6596 9.56192 18.3436 9.26428C18.0276 8.96663 17.8501 8.56295 17.8501 8.14202V1H2.68501C2.23812 1 1.80953 1.16721 1.49353 1.46486C1.17753 1.7625 1 2.16619 1 2.58711V30.3616C1 30.7826 1.17753 31.1862 1.49353 31.4839C1.80953 31.7815 2.23812 31.9487 2.68501 31.9487H25.4326C25.8795 31.9487 26.3081 31.7815 26.6241 31.4839C26.9401 31.1862 27.1176 30.7826 27.1176 30.3616V9.72913Z"
                                                      stroke="#2D9CDB" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                            <span style="margin-left: 10px; color: #0d6efd">{{ file.file }}</span>
                                        </a></p>
                                    {% endfor %}
                                    <div class="input-file-list"></div>
                                </div>

                            </div>

                        </div>
                    {% endif %}

                    <div class="card">

                        <div class="card-body">
                            <h5 class="card-title" style="padding: 0 0 15px 0;"></h5>
                            {{ map_html | safe }}

                        </div>

                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="col-sm-4">
                                <div class="card" style='margin-top:14px;'>
                                    <div class="card-body">
                                        <div class="mb-3">
                                            <label for="{{ form.square.id_for_label }}"
                                                   class="form-label">Площадь</label>
                                            <input class='form-control' disabled
                                                   value='{{ order.square }}'/>
                                            {% if order.square_unit == 'sq_m' %}
                                                м²{% elif order.square_unit == 'hectometer' %}га{% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="max-width: 500px">
                                <div class="card-title">
                                    <h5>Назначение здания</h5>
                                </div>
                                <input class='form-control' disabled value='{{ order.purpose_building }}'></input>
                            </div>
                            {% if order.user_purpose_building %}
                                <div class="col-sm-6" id='user-purpose' style='margin-top:20px;'>
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="mb-3">
                                                <label class='building_label'
                                                       for="{{ form.building.id_for_label }}">Назначение здания</label>
                                                <input class='form-control' disabled
                                                       value='{{ order.user_purpose_building }}'/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div>
                                <div class="card-title">
                                    <h5>Виды работ</h5>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 mb-3 mb-sm-0">

                                        <div class="card-body grid">
                                            {% for type_work in order.type_work.all %}
                                                <div class="form-check form-check-inline card-body"
                                                     style='width:280px;'>
                                                    <p class="form-check-label"
                                                    >{{ type_work }}</p>
                                                </div>
                                            {% endfor %}
                                        </div>

                                    </div>
                                </div>
                                <div style="max-width: 500px">
                                    <div class="card-title">
                                        <h5>Цели работ</h5>
                                    </div>
                                    <input class='form-control' disabled value='{{ order.work_objective }}'/>
                                </div>
                                <div style="max-width: 500px">
                                    <div class="card-title">
                                        <h5>Название объекта</h5>
                                    </div>
                                    {{ object_name_form.object_name }}
                                </div>
                                <div>
                                    <div class="card-title">
                                        <h5>Комментарий</h5>
                                        <textarea cols="40" rows="10" class="form-control"
                                                  id="id_comment" disabled>{{ order.comment }}</textarea>
                                    </div>
                                </div>
                                <div>
                                    <div class="row mt-5">
                                        <div class="col-sm-4 mb-3 mb-sm-0">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="mb-3">
                                                        <label for="{{ form.name.id_for_label }}">Имя</label>
                                                        <input class='form-control' disabled
                                                               value='{{ order.name }}'></input>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="mb-3">
                                                        <label for="{{ form.surname.id_for_label }}">Фамилия</label>
                                                        <input class='form-control' disabled
                                                               value='{{ order.surname }}'></input>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="card">
                                                <div class="card-body">

                                                    <div class="mb-3">
                                                        <label for="{{ form.father_name.id_for_label }}">Отчество</label>
                                                        <input class='form-control' disabled
                                                               value='{{ order.father_name }}'></input>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin: 0 auto; padding: 10px; text-align: left;">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <div class="card ">
                                                <div class="card-body">
                                                    <div class="mb-3">
                                                        <label for="{{ form.phone_number.id_for_label }}">Номер
                                                            телефона</label>
                                                        <input class='form-control' disabled
                                                               value='{{ order.phone_number }}'></input>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="mb-3">
                                                        <label for="{{ form.email.id_for_label }}">Электронная
                                                            почта</label>
                                                        <input class='form-control' disabled
                                                               value='{{ order.email }}'></input>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        {% if order.object_name %}
                            <div class="card-body">
                                <h5 class="card-title">Выгрузка документов</h5>
                                <div class="row">
                                    <div class="col-6">
                                        <a href="{% url 'zakaz:download_igi_docx' order.pk %}"
                                           class="btn btn-bd-primary w-100">Загрузить DOCX</a>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="card-body">
                                <h5 class="card-title">Выгрузка документов</h5>
                                <p class="small">Для загрузки документа вы должны заполнить поле "Название объекта" в
                                    форме</p>
                                <div class="row">
                                    <div class="col-6">
                                        <a class="btn btn-bd-primary w-100 disabled">Загрузить DOCX</a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 mb-sm-0 text-center">
                    <button type="submit" class="btn btn-bd-primary w-50">СОХРАНИТЬ
                    </button>
                </div>
            </div>
        </form>
    </section>

    <script src="{% static 'js/application.js' %}"></script>
{% endblock %}