{% extends 'base.html' %}
{% load verbose_name %}
{% load static %}
{% block content %}

    <script data-require="jquery" data-semver="3.1.1"
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
    <script src="/static/smart-selects/admin/js/chainedfk.js"></script>
    <script src="/static/smart-selects/admin/js/bindfields.js"></script>
    <link rel='stylesheet' href="{% static 'css/order.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-0vvWB+X9DbyKj6fJNW6ODcFXwAT5U6/bnx+8u0mthBjblLmX7LyG1Sz+2v7ve+dZmBCjwu7JzTtTcTSTT+ruyQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <section>
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb" style="font-size: 17px">
                <li class="breadcrumb-item"><a href="{% url 'zakaz:order_pages' user.company_number_slug %}">На страницу
                    заявок</a></li>
                <li class="breadcrumb-item active" aria-current="page">Заявка -
                    {{ order.date.year }}{{ order.date.month }}{{ order.date.day }}-{{ order.pk }}</li>
            </ol>
        </nav>
        <form action="#" method='POST' enctype='multipart/form-data' id="form-data">
            {% csrf_token %}
            {% if order_form.errors %}
                {% for field in order_form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger text-center">
                            <span>{% verbose_name_tag order_model field.name %} {{ error|lower }} </span>
                            <i class="ri-close-circle-fill" data-dismiss="alert" id="close-icon"></i>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% include 'inc/_alerts.html' %}
            <div class="row">
                <div class="col-sm-6 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <h5>Участок</h5>
                            </div>
                            <label for="{{ form.cadastral_numbers.id_for_label }}">Кадастровый номер</label>
                            {% with order_form.cadastral_numbers.value|split:"," as cadastral_numbers %}
                                {% for cadastral_number in cadastral_numbers %}
                                    <div class="input-group mb-3 custom-input-group" id='{{ forloop.counter }}'>
                                        <input type="text" name="cadastral_numbers" value="{{ cadastral_number }}"
                                               onchange='ChangeCadastral({{ forloop.counter }}); reloadPage()'
                                               class="form-control custom-form-control" required="" readonly=''
                                               id="cadastral_number{{ forloop.counter }}"
                                               style='background-color:lightgray;'>
                                        <div class="input-group-append custom-input-group-append">
                                            <button id='edit{{ forloop.counter }}' type='button'
                                                    onClick='EditCadastral({{ forloop.counter }})'
                                                    class='btn btn-outline-secondary custom-button'
                                                    onclick='EditCadastral();'
                                                    style='margin-left: 10px; text-align: center; line-height: 10px;'><i
                                                    class='bx bxs-edit'></i></button>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endwith %}
                            <hr>

                            <div>
                                <div class='row justify-content-center' style='margin-top:15px;'>
                                    <div class="col-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="{{ form.square.id_for_label }}"
                                                           class="form-label">Площадь</label>
                                                    {{ order_form.square }}
                                                    <div class="btn-group mt-2" role="group" aria-label="Basic example"
                                                         style="width: 110px; height: 35px">
                                                        {{ order_form.square_unit }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="card-title">
                                        <h5>Адрес объекта</h5>
                                    </div>
                                    {{ order_form.media.js }}
                                    <label for="{{ form.region.id_for_label }}">Регион</label>
                                    {{ order_form.region }}
                                    <br>
                                    <label for="{{ form.area.id_for_label }}">Район</label>
                                    {{ order_form.area }}
                                    <br>
                                    <label for="{{ form.city.id_for_label }}">Населенный пункт</label>
                                    {{ order_form.city }}
                                    <br>
                                    </select>
                                    <div class="mb-3">
                                        <label for="{{ form.street.id_for_label }}">Улица</label>
                                        {{ order_form.street }}
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="mb-3">
                                                        <label class='house_label'
                                                               for="{{ form.house_number.id_for_label }}">Номер
                                                            дома</label>
                                                        {{ order_form.house_number }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="mb-3">
                                                        <label class='building_label'
                                                               for="{{ form.building.id_for_label }}">*
                                                            Корпус/Строение</label>
                                                        {{ order_form.building }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="checkbox" id="agreement" name="agreement">
                                <label for='agreement'> <a href="{% url 'users:agreement' %}" target='_blank'>Согласен с
                                    политикой конфиденциальности</a></label>
                            </div>
                        </div>
                    </div>
                    {% if files %}
                        <div class="card" style="height: 230px; overflow-y: scroll;">

                            <div class="card-body">
                                <h5 class="card-title" style="padding: 0 0 15px 0"></h5>
                                <div class="input-file-row">
                                    {% for file in files %}
                                        <p><a href="{{ file.file.url }}" download>
                                            <svg width="28" height="33" viewBox="0 0 28 33" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M17.8501 1L27.1176 9.72913M27.1176 9.72913H19.5351C19.0882 9.72913 18.6596 9.56192 18.3436 9.26428C18.0276 8.96663 17.8501 8.56295 17.8501 8.14202V1H2.68501C2.23812 1 1.80953 1.16721 1.49353 1.46486C1.17753 1.7625 1 2.16619 1 2.58711V30.3616C1 30.7826 1.17753 31.1862 1.49353 31.4839C1.80953 31.7815 2.23812 31.9487 2.68501 31.9487H25.4326C25.8795 31.9487 26.3081 31.7815 26.6241 31.4839C26.9401 31.1862 27.1176 30.7826 27.1176 30.3616V9.72913Z"
                                                      stroke="#2D9CDB" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                            <span style="margin-left: 10px; color: #0d6efd">{{ file.file }}</span>
                                        </a></p>
                                    {% endfor %}
                                    <div class="input-file-list"></div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if map_html %}
                        <div class="card">
                            <div class="card-body">
                                <div>
                                    {{ map_html | safe }}
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-6">
                                        <a href="{% url 'zakaz:download_map' order.pk %}"
                                           class="btn btn-bd-primary w-100">Скачать карту</a>
                                        {#                                    <a href="#" id="download-map" data-screenshot-name="{{ screenshot_name }}"#}
                                        {#                                       class="btn btn-bd-primary w-100">Скачать карту</a>#}
                                    </div>
                                    <div class="col-6">
                                        <a href="{% url 'zakaz:download_xlsx' order.pk %}"
                                           class="btn btn-bd-primary w-100">Скачать координаты</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"
                                    style="padding: 0 0 10px 0; margin-top: 25px; text-align: center">Для загрузки карты
                                    добавьте
                                    кадастровый номер</h5>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-6">
                    <div class="card" style='min-width: 300px'>
                        <div class="card-title" style="margin-left: 25px">
                            <h5>Габариты здания</h5>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-sm">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="mb-3">
                                            <label for="{{ form.length.id_for_label }}"
                                                   class="form-label">Длина</label>
                                            {{ order_form.length }}
                                            <div class="btn-group mt-2" role="group" aria-label="Basic example"
                                                 style="width: 110px; height: 35px;">

                                                {{ order_form.length_unit }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="mb-3">
                                            <label for="{{ form.width.id_for_label }}"
                                                   class="form-label">Ширина</label>
                                            {{ order_form.width }}
                                            <div class="btn-group mt-2" role="group" aria-label="Basic example"
                                                 style="width: 110px; height: 35px">
                                                {{ order_form.width_unit }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="mb-3" id='width'>
                                            <label for="{{ form.height.id_for_label }}"
                                                   class="form-label">Высота</label>
                                            {{ order_form.height }}
                                            <div class="btn-group mt-2" role="group" aria-label="Basic example"
                                                 style="width: 110px; height: 35px">
                                                {{ order_form.height_unit }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div style="max-width: 500px">
                                <div class="card-title">
                                    <h5>Назначение здания</h5>
                                </div>
                                {{ order_form.purpose_building }}
                                <datalist id="purpose_building">
                                    {% for purpose in purpose_building %}
                                        <option value="{{ purpose }}">
                                    {% endfor %}
                                </datalist>
                            </div>
                            <div>
                                <div class="card-title">
                                    <h5>Укажите необходимые виды инженерных изысканий</h5>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 mb-3 mb-sm-0">
                                        <div class="card-body grid">
                                            {% for type_work in order_form.type_work.field.queryset %}
                                                <div class="form-check form-check-inline card-body"
                                                     style='width:200px;' id="TypeWork">
                                                    <input class="form-check-input" type="checkbox"
                                                           id="inlineCheckbox{{ type_work.id }}"
                                                           value="{{ type_work.id }}" name='type_work'
                                                           {% if type_work in type_works %}checked{% endif %}>
                                                    <label class="form-check-label"
                                                           for="inlineCheckbox{{ type_work.id }}">{{ type_work }}</label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div style="max-width: 500px">
                                    <div class="card-title">
                                        <h5>Цель работ</h5>
                                    </div>
                                    {{ order_form.work_objective }}
                                </div>
                                <div style="max-width: 500px">
                                    <div class="card-title">
                                        <h5>Название объекта</h5>
                                    </div>
                                    <input class='form-control' name="object_name" id="object-name"
                                           value='{{ order.object_name }}'/>
                                </div>
                                <hr>
                                <div>
                                    <div class="row" style="margin-top:25px; text-align: left;">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <div class="card ">
                                                <div class="card-body">
                                                    <div class="mb-3">
                                                        <label for="{{ form.phone_number.id_for_label }}">Номер
                                                            телефона</label>
                                                        {{ order_form.phone_number }}
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="mb-3">
                                                        <label for="{{ form.email.id_for_label }}">Электронная
                                                            почта</label>
                                                        {{ order_form.email }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-5">
                                        <div class="col-sm-4 mb-3 mb-sm-0">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="mb-3">
                                                        <label for="{{ form.name.id_for_label }}">Имя</label>
                                                        {{ order_form.name }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="mb-3">
                                                        <label for="{{ form.surname.id_for_label }}">Фамилия</label>
                                                        {{ order_form.surname }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="card">
                                                <div class="card-body">

                                                    <div class="mb-3">
                                                        <label for="{{ form.father_name.id_for_label }}">*
                                                            Отчество</label>
                                                        {{ order_form.father_name }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="card-title">
                                        <h5>Комментарий</h5>
                                        {{ order_form.comment }}
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                {% if order.object_name %}
                                    <div class="card-body">
                                        <h5 class="card-title">Выгрузка документов</h5>
                                        <div class="row justify-content-center">
                                            <div class="col-8">
                                                <a href="{% url 'zakaz:download_igi_docx' order.pk %}"
                                                   class="btn btn-bd-primary w-100" id="download-igi">Загрузить документы ИГИ</a>
                                            </div>
                                            <div class="col-8">
                                                <a href="{% url 'zakaz:download_igdi_docx' order.pk %}"
                                                   class="btn btn-bd-primary w-100" id="download-igdi">Загрузить документы ИГДИ</a>
                                            </div>
                                            <div class="col-8">
                                                <a href="{% url 'zakaz:download_all_docx' order.pk %}"
                                                   class="btn btn-bd-primary w-100" id="download-all">Загрузить все документы</a>
                                            </div>
                                            <div class="col-8">
                                                <a class="btn btn-bd-primary w-100 disabled" id="download-none">Загрузить документы</a>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="card-body">
                                        <h5 class="card-title">Выгрузка документов</h5>
                                        <p class="small">Для загрузки документа вы должны заполнить поле "Название
                                            объекта" в
                                            форме</p>
                                        <div class="row justify-content-center">
                                            <div class="col-8">
                                                <a class="btn btn-bd-primary w-100 disabled">Загрузить документы</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
        </form>

        <div id="wait-modal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <p>Подождите, пожалуйста...</p>
                        <div class="spinner-container">
                            <div class="spinner"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>

        var objectName = document.getElementById('object-name');
        objectName.addEventListener('change', function () {
            var inputValue = objectName.value;
            if (inputValue) {
                reloadPage()
            } else {
                reloadPage()
            }
        });

        function saveFormData() {
            clearTimeout(saveFormData.timer);
            saveFormData.timer = setTimeout(function () {
                $.ajax({
                    url: '{% url 'zakaz:change_order_status' order.pk %}',
                    type: 'POST',
                    data: $('#form-data').serialize(),
                    success: function (response) {
                        document.getElementById('teg-ok').style.display = 'block';
                        setTimeout(function () {
                            document.getElementById('teg-ok').style.display = 'none';
                        }, 3000)
                    },
                    error: function (response) {
                        document.getElementById('teg-error').style.display = 'block';
                        setTimeout(function () {
                            document.getElementById('teg-error').style.display = 'none';
                        }, 3000)
                    }
                });
            }, 3000);
        }

        $(document).ready(function () {
            $('#form-data').on('input', saveFormData);
        });

        function reloadPage() {
            setTimeout(function () {
                location.reload();
            }, 4000);
        }

    </script>
    <script>
        function downloadFile(url, fileName) {
            $('#wait-modal').modal('show');
            fetch(url)
                .then(response => response.blob())
                .then(blob => {
                    $('#wait-modal').modal('hide');
                    const url = URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.href = url;
                    a.download = fileName;
                    a.style.display = 'none';
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                    URL.revokeObjectURL(url);
                });
        }

        $(document).on('click', '#download-map', function (e) {
            e.preventDefault();
            const fileName = $(this).data('screenshot-name') + '.png';
            const url = "{% url 'zakaz:download_map' order.pk %}";
            downloadFile(url, fileName);
        });

        $(document).on('click', '#download-igi', function (e) {
            e.preventDefault();
            const fileName = $(this).data('igi-name') + '.docx';
            const url = "{% url 'zakaz:download_igi_docx' order.pk %}";
            downloadFile(url, fileName);
        });

        $(document).on('click', '#download-igdi', function (e) {
            e.preventDefault();
            const fileName = $(this).data('igdi-name') + '.docx';
            const url = "{% url 'zakaz:download_igdi_docx' order.pk %}";
            downloadFile(url, fileName);
        });

    </script>
{#    <script>#}
{#        function downloadFile(url, fileName) {#}
{#            $('#wait-modal').modal('show');#}
{#            fetch(url)#}
{#                .then(response => response.blob())#}
{#                .then(blob => {#}
{#                    $('#wait-modal').modal('hide');#}
{#                    const url = URL.createObjectURL(blob);#}
{#                    const a = document.createElement('a');#}
{#                    a.href = url;#}
{#                    a.download = fileName;#}
{#                    a.style.display = 'none';#}
{#                    document.body.appendChild(a);#}
{#                    a.click();#}
{#                    document.body.removeChild(a);#}
{#                    URL.revokeObjectURL(url);#}
{#                });#}
{#        }#}
{##}
{#        $(document).on('click', '#download-map', function (e) {#}
{#            e.preventDefault();#}
{#            const fileName = $(this).data('screenshot-name') + '.png';#}
{#            const url = "{% url 'zakaz:download_map' order.pk %}";#}
{#            downloadFile(url, fileName);#}
{#        });#}
{##}
{#        $(document).on('click', '#download-igi', function (e) {#}
{#            e.preventDefault();#}
{#            const fileName = $(this).data('igi-name') + '.docx';#}
{#            const url = "{% url 'zakaz:download_igi_docx' order.pk %}";#}
{#            downloadFile(url, fileName);#}
{#        });#}
{##}
{#        $(document).on('click', '#download-igdi', function (e) {#}
{#            e.preventDefault();#}
{#            const fileName = $(this).data('igdi-name') + '.docx';#}
{#            const url = "{% url 'zakaz:download_igdi_docx' order.pk %}";#}
{#            downloadFile(url, fileName);#}
{#        });#}
{##}
{#    </script>#}
    <script>
        const checkboxes = document.querySelectorAll('#TypeWork input[type="checkbox"]');
        const downloadLinkIgi = document.querySelector('#download-igi');
        const downloadLinkIgdi = document.querySelector('#download-igdi');
        const downloadLinkAll = document.querySelector('#download-all');
        const downloadLinkNone = document.querySelector('#download-none');

        function updateLinksVisibility() {
            let igiChecked = document.querySelector('#TypeWork input[value="2"]').checked;
            let igdiChecked = document.querySelector('#TypeWork input[value="1"]').checked;

            if (igiChecked && igdiChecked) {
                downloadLinkAll.style.display = 'block';
                downloadLinkIgi.style.display = 'none';
                downloadLinkIgdi.style.display = 'none';
                downloadLinkNone.style.display = 'none';
            } else if (igiChecked) {
                downloadLinkAll.style.display = 'none';
                downloadLinkIgi.style.display = 'block';
                downloadLinkIgdi.style.display = 'none';
                downloadLinkNone.style.display = 'none';
            } else if (igdiChecked) {
                downloadLinkAll.style.display = 'none';
                downloadLinkIgi.style.display = 'none';
                downloadLinkIgdi.style.display = 'block';
                downloadLinkNone.style.display = 'none';
            } else {
                downloadLinkAll.style.display = 'none';
                downloadLinkIgi.style.display = 'none';
                downloadLinkIgdi.style.display = 'none';
                downloadLinkNone.style.display = 'block';
            }
        }

        // Проверяем состояние чекбоксов при загрузке страницы
        updateLinksVisibility();

        // Добавляем обработчик изменения состояния чекбокса
        checkboxes.forEach((checkbox) => {
            checkbox.addEventListener('change', updateLinksVisibility);
        });


    </script>
    <script src="{% static 'js/order.js' %}"></script>

{% endblock %}
