{% extends 'base.html' %}
{% load static %}

{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="{% static 'js/customer_home.js' %}"></script>
    <div class="container">

        <section class="section register d-flex flex-column align-items-center justify-content-center py-4" style='min-height:85vh;'>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        {% include 'inc/_alerts.html' %}

                        <div class="d-flex justify-content-center py-4">
                            <a href="#" class="logo d-flex align-items-center w-auto">
                                <img src="{% static 'img/logo.png' %}" alt="">
                                <span class="d-none d-lg-block">Геозаказ</span>
                            </a>
                        </div>

                        <div class="card mb-3"> 
                            <div class="alert alert-danger text-center" style='display:none;' id='input__error'>
                                <span>Проверьте правильность введённых данных</span>
                            </div>
                            <div class="card-body" style='min-width:430px;'>
                                <div class="pt-4 pb-2">
                                    <p class="text-center">Введите кадастровый номер или адрес участка. Есть выписка / техническое задание?<br>Просто перетащите на это окно</p>
                                </div>
                                <div class="col-12 cadastal-container">
                                    <div class="search-bar">
                                        <form class="search-form  align-items-center" method="POST"
                                              action="#">
                                            {% csrf_token %}
                                            <div class="input-group mb-3">
                                                <input type="text" name="cadastral_number"
                                                    placeholder="Введите кадастровый номер или адрес участка" id="id_cadastral_number">
                                                <div class="input-group-append">
                                                    <button type='submit' style='position:absolute; right:5px; width: 30px; height:30px; margin-top:3.5px; color: white; background-color: #012970;'  onclick='AddCadastralNumber();' id='btn' disabled
                                                            class='btn btn-outline-secondary custom-btn'>+</button>
                                                </div>
                                            </div>

                                            <a href='#' class='#'>Загрузить выписку / техническое задание</a>
                                            <br>
                                            <br>
                                            <div style='display:flex; flex-direction: column; align-items:center;' id='test33'>
                                                <div class='cadastal_numbers' id='cadastal_numbers'><div>
                                                <button type="submit" style='background-color: #012970; margin-top:10px;' id='order-btn' disabled class='btn btn-primary'>Создать заявку</button>
                                            </div>
                                        </form> 
                                    </div>
                                </div>

                                {% if not request.user.is_authenticated %}
                                    <div class="col-12">
                                        <p class="small mb-0"><a href="{% url 'users:user_login' %}">Войти</a> или <a href="{% url 'users:user_register' %}">создать учетную запись</a></p>
                                    </div>

                                {% endif %}

                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </section>
        <script>
            $(document).ready(function () {
                $('#id_cadastral_number, #123').on('input', function(){
                cadastral = document.getElementById('id_cadastral_number')
                button = document.getElementById('btn');        
                error = document.getElementById('input__error')
                if (cadastral && cadastral.value.length > 5 && cadastral.value.includes(":")) {
                    $.ajax({
                        data: $(this).serialize(),
                        url: "{% url 'zakaz:ajax_validate_cadastral_number' %}",
                        success: function (response) {
                            if (response.is_valid == true || cadastral.value == '') {
                                button.disabled = false;
                                setTimeout(() => { error.style.cssText = 'display:none; padding-bottom:10px;'; }, 1500);
                            } 
                            else {
                                button.disabled = true;
                                setTimeout(() => { error.style.cssText = 'display:block; padding-bottom:10px;'; }, 1500);
                            }
                        },
                        error: function (response) {
                            console.log(response.responseJSON.errors)
                        }
                    });
                    return false;
                }   
                else {
                    $(function () {
                        let input = document.getElementById('id_cadastral_number')
                        $("#id_cadastral_number").autocomplete({
                            source: "{% url 'zakaz:region_autocomplete' %}",
                            minLength: 2,
                            select: function( event, ui ) {
                                $('#id_cadastral_number').attr('id', '123')
                                let selected_value = ui.item.value
                                ui.item.value += ', '
                                if (ui.item.value) {
                                    $.ajax({
                                        url: "{% url 'zakaz:area_autocomplete' %}",
                                        data: {'region': selected_value},
                                        success: function(response){
                                            $("#123").autocomplete({
                                                source: response,   
                                                select: function(event, ui) {
                                                    $('#123').attr('id', '234')
                                                    ui.item.value += ', '
                                                    if (ui.item.value) {
                                                        $.ajax({
                                                            url: "{% url 'zakaz:city_autocomplete' %}",
                                                            data: {"region": ui.item.value},
                                                            success: function(response) {
                                                                $('#234').autocomplete({
                                                                    source:response,
                                                                    minLength: 2,
                                                                    select: function(response) {
                                                                        alert('Ура, оно работает!')
                                                                    }
                                                                })
                                                            }
                                                        })
                                                    }
                                                    
                                                }
                                            })
                                        }
                                    })
                                }
                            }
                        })
                    });
                }
            }); 
        });
        </script>

        {% comment %} <script>
            $(function () {
                $('#btn').on('click', function () {
                    let cadastal_number = document.getElementById('select')
                    
                    $.ajax({
                        data: {'cadastral_number': cadastal_number.lastChild.value, csrfmiddlewaretoken: '{{ csrf_token }}'},
                        url: "{% url 'zakaz:ajax_download_map' %}",
                        method: 'POST',
                    });
                });
            });
        </script> {% endcomment %}

    </div>

{% endblock %}