{% extends 'base.html' %}
{% load static %}

{% block title %}
    Создание
{% endblock %}

{% block content %}
    {% load verbose_name %}
    <script data-require="jquery" data-semver="3.1.1"
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
    <script src="/static/smart-selects/admin/js/chainedfk.js"></script>
    <script src="/static/smart-selects/admin/js/bindfields.js"></script>
    <link rel='stylesheet' href="{% static 'css/order.css' %}">

    {#    <div class="mb-5 mt-5">#}
    {#        <h1>Создайте заявку</h1>#}
    {#    </div>#}
    <div class="d-flex py-4">
        <a class="logo d-flex align-items-center w-auto">
            {% if user_company.company_name %}
                <span class="d-none d-lg-block">Вашу заявку увидит компания {{ user_company.company_name }}, а также другие подрядчики региона. <button type="button" class="btn btn-primary mb-2" style='background-color: #012970;' onclick="location.href='{% url 'zakaz:rates'%}'">Изменить</button></span>
            {% else %}
                <span class="d-none d-lg-block">Заявка</span>

            {% endif %}
        </a>
    </div>
    <section>
        <form action='#' method='POST' enctype='multipart/form-data'>
            {% csrf_token %}

            {% if order_form.errors %}
                {% for field in order_form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger text-center">
                            {% comment %} <span>{% verbose_name_tag order_model field.name %} {{ error|lower }} </span> {% endcomment %}
                            <i class="ri-close-circle-fill" data-dismiss="alert" id="close-icon"></i>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            {% include 'inc/_alerts.html' %}
            <div class="row">
                <div class="col-sm-6 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <h5>Участок</h5>
                            </div>
                            {% if cadastral_numbers %}
                                <label for="{{ form.cadastral_numbers.id_for_label }}">Кадастровый номер</label>
                                {% with order_form.cadastral_numbers.value|split:"," as cadastral_numbers %}
                                    {% for cadastral_number in cadastral_numbers %}
                                        <div class="input-group mb-3 custom-input-group" id='{{ forloop.counter }}'>
                                            <input type="text" name="cadastral_numbers" value="{{ cadastral_number }}"
                                                   onchange='ChangeCadastral({{ forloop.counter }})'
                                                   class="form-control custom-form-control" readonly=''
                                                   id="cadastral_number{{ forloop.counter }}"
                                                   style='background-color:lightgray;'>
                                            <div class="input-group-append custom-input-group-append">
                                                <button id='edit{{ forloop.counter }}' type='button'
                                                        onClick='EditCadastral({{ forloop.counter }})'
                                                        class='btn btn-outline-secondary custom-button'
                                                        onclick='EditCadastral();'
                                                        style='margin-left: 10px; text-align: center; line-height: 10px;'>
                                                    <i class='bx bxs-edit'></i></button>
                                                <button id='delete{{ forloop.counter }}' type='button'
                                                        onClick='DeleteCadastral({{ forloop.counter }});'
                                                        class='btn btn-outline-secondary custom-button'
                                                        style='margin-left: 10px; text-align: center; line-height: 10px;'>
                                                    <i class='bx bxs-x-circle'></i></button>
                                                `
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endwith %}
                            {% endif %}


                            <hr>
                            <div>
                                <div class='row justify-content-center' style='margin-top:15px;'>
                                    <div class="col-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="{{ form.square.id_for_label }}"
                                                           class="form-label">Площадь</label>
                                                    <div class="btn-group" role="group" aria-label="Basic example">
                                                        {{ order_form.square }}
                                                        {{ order_form.square_unit }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="card-title">
                                        <h5>Адрес объекта</h5>
                                    </div>
                                    {{ order_form.media.js }}
                                    <label for="{{ form.region.id_for_label }}">Регион</label>
                                    {{ order_form.region }}
                                    <br>
                                    <label for="{{ form.area.id_for_label }}">Район</label>
                                    {{ order_form.area }}
                                    <br>
                                    <label for="{{ form.city.id_for_label }}">Населенный пункт</label>
                                    {{ order_form.city }}
                                    <br>
                                    </select>
                                    <div class="mb-3">
                                        <label for="{{ form.street.id_for_label }}">Улица</label>
                                        {{ order_form.street }}
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="mb-3">
                                                        <label class='house_label'
                                                               for="{{ form.house_number.id_for_label }}">Номер
                                                            дома</label>
                                                        {{ order_form.house_number }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="mb-3">
                                                        <label class='building_label'
                                                               for="{{ form.building.id_for_label }}">*
                                                            Корпус/Строение</label>
                                                        {{ order_form.building }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div>
                                        <div class="row" style="margin-top:25px; text-align: left;">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <div class="card ">
                                                    <div class="card-body">
                                                        <div class="mb-3">
                                                            <label for="{{ form.phone_number.id_for_label }}">Номер
                                                                телефона</label>
                                                            {{ order_form.phone_number }}
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="mb-3">
                                                            <label for="{{ form.email.id_for_label }}">Электронная
                                                                почта</label>
                                                            {{ order_form.email }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-5">
                                        <div class="col-sm-4 mb-3 mb-sm-0">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="mb-3">
                                                        <label for="{{ form.name.id_for_label }}">Имя</label>
                                                        {{ order_form.name }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="mb-3">
                                                        <label for="{{ form.surname.id_for_label }}">Фамилия</label>
                                                        {{ order_form.surname }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="card">
                                                <div class="card-body">

                                                    <div class="mb-3">
                                                        <label for="{{ form.father_name.id_for_label }}">*
                                                            Отчество</label>
                                                        {{ order_form.father_name }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="checkbox" id="agreement" name="agreement">
                                <label for='agreement'> <a href="{% url 'users:agreement' %}" target='_blank'>Согласен с
                                    политикой конфиденциальности</a></label>
                            </div>
                        </div>
                    </div>


                    <div class="card" style="height: 230px; overflow-y: scroll;">
                        <div class="card-body">
                            <div class="card-title">
                                <h5 class="card-title" style="padding: 0 0 15px 0">* Добавьте файл/файлы</h5>
                            </div>
                            <div class="input-file-row">
                                <label class="input-file">
                                    {{ order_files_form.file }}
                                    <span>Выбрать</span>
                                </label>
                                <div class="input-file-list"></div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-sm-6">
                    <div class="card" style='min-width: 300px;'>
                        <div class="card-title" style="margin-left: 20px">
                            <h5>Габариты здания</h5>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-sm">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="mb-3">
                                            <label for="{{ form.length.id_for_label }}"
                                                   class="form-label">Длина</label>
                                            <div class="btn-group" role="group" aria-label="Basic example">
                                                {{ order_form.length }}
                                                {{ order_form.length_unit }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="mb-3">
                                            <label for="{{ form.width.id_for_label }}"
                                                   class="form-label">Ширина</label>
                                            <div class="btn-group" role="group" aria-label="Basic example">
                                                {{ order_form.width }}
                                                {{ order_form.width_unit }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="mb-3" id='width'>
                                            <label for="{{ form.height.id_for_label }}"
                                                   class="form-label">Высота</label>
                                            <div class="btn-group" role="group" aria-label="Basic example">
                                                {{ order_form.height }}
                                                {{ order_form.height_unit }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div style="max-width: 500px">
                                <div class="card-title">
                                    <h5>Назначение здания</h5>
                                </div>
                                {{ order_form.purpose_building }}
                                <datalist id="purpose_building">
                                    {% for purpose in purpose_building %}
                                        <option value="{{ purpose }}">
                                    {% endfor %}
                                </datalist>
                            </div>
                            <div>
                                <div class="card-title">
                                    <h5>Укажите необходимые виды инженерных изысканий</h5>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 mb-3 mb-sm-0">
                                        <div class="card-body grid">
                                            {% for type_work in order_form.type_work.field.queryset %}
                                                <div class="form-check form-check-inline card-body"
                                                     style='width:200px;'>
                                                    <input class="form-check-input" type="checkbox"
                                                           id="inlineCheckbox{{ type_work.id }}"
                                                           value="{{ type_work.id }}" name='type_work'>
                                                    <label class="form-check-label"
                                                           for="inlineCheckbox{{ type_work.id }}">{{ type_work }}</label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div style="max-width: 500px">
                                    <div class="card-title">
                                        <h5>Цель работ</h5>
                                    </div>
                                    {{ order_form.work_objective }}
                                </div>
                                <hr>

                                <div>
                                    <div class="card-title">
                                        <h5>Комментарий</h5>
                                        {{ order_form.comment }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" id='send-order' class="btn btn-secondary btn-lg"
                            style="width: auto; background-color: #012970;" disabled>ОТПРАВИТЬ ЗАЯВКУ
                    </button>
                </div>
            </div>
        </form>
    </section>
    <script src="{% static 'js/order.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

    <script>
        $(document).ready(function(){
            $("#id_phone_number").mask("+7(999)999-99-99", {placeholder: ''});
        });
    </script>
    <script>
        $('#id_phone_number').on('input', function() {
            $(this).val($(this).val().replace(/[A-Za-zА-Яа-яЁё]/, ''))
        });
    </script>

{% endblock %}