{% extends 'base.html' %}
{% load static %}

{% block title %}
    Вход для компаний
{% endblock %}

{% block content %}
    <style>
        body {
            overflow: hidden;
        }
    </style>
    <div class="container">
        <section class="section register d-flex flex-column align-items-center justify-content-center" style='min-height:84vh'>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        {% include 'inc/_alerts.html' %}

                        <div class="d-flex justify-content-center py-4">
                            <a href="#" class="logo d-flex align-items-center w-auto">
                                <img src="{% static 'img/logo.png' %}" alt="">
                                <span class="d-none d-lg-block"
                                      style="font-size: 50px; margin-right: 20px">Геозаказ</span>
                            </a>
                        </div><!-- End Logo -->

                        <div class="card mb-3" style="box-shadow: none">

                            <div class="card-body" style='min-width:430px; background-color: #f6f9ff'>

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-3">Войдите в свою учетную запись</h5>
                                    <p class="text-center">Введите свой email или номер телефона и пароль для входа в
                                        систему</p>
                                </div>

                                <form class="row g-3" method="post">
                                    {% csrf_token %}

                                    {% for field in form %}
                                        <div class="col-12" style="font-size: 18px">
                                            {{ field.label_tag }}
                                            <div class="input-group has-validation">
                                                {{ field }}
                                                <div class="invalid-feedback">{{ field.errors }}</div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                    <div class="col-12">
                                        <button class="btn btn-bd-primary w-100" type="submit">Войти</button>
                                    </div>

                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>

    </div>

{% endblock %}