{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        {% include 'inc/_alerts.html' %}

                        <div class="d-flex justify-content-center py-4">
                            <a href="#" class="logo d-flex align-items-center w-auto">
                                <img src="{% static 'img/logo.png' %}" alt="">
                                <span class="d-none d-lg-block">Геозаказ</span>
                            </a>
                        </div><!-- End Logo -->

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Войдите в свою учетную запись</h5>
                                    <p class="text-center small">Введите свой email или номер телефона и пароль для входа в
                                        систему</p>
                                </div>

                                <form class="row g-3" method="post">
                                    {% csrf_token %}

                                    {% for field in form %}
                                        <div class="col-12">
                                            {{ field.label_tag }}
                                            <div class="input-group has-validation">
                                                {{ field }}
                                                <div class="invalid-feedback">{{ field.errors }}</div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                    <div class="col-12">
                                        <button class="btn btn-bd-primary w-100" type="submit">Войти</button>
                                    </div>
{#                                    <div class="col-12">#}
{#                                        <p class="small mb-0">Нет учетной записи? <a#}
{#                                                href="{% url 'users:user_register' %}">Создать</a></p>#}
{#                                    </div>#}
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>

    </div>

{% endblock %}