{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a href="#" class="logo d-flex align-items-center w-auto">
                                <img src="{% static 'img/logo.png' %}" alt="">
                                <span class="d-none d-lg-block">Геозаказ</span>
                            </a>
                        </div><!-- End Logo -->

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Создание аккаунта</h5>
                                    <p class="text-center small">Введите свои персональные данные для создания учетной
                                        записи</p>
                                </div>

                                <form class="row g-3" method="post">
                                    {% csrf_token %}
                                    {{ form.non_field_errors }}

                                    {% for field in form %}
                                        {% if field.name != 'agreement' %}
                                            <div class="col-12 form-group{% if field.errors %} has-error{% endif %}">
                                                <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                                                {{ field }}
                                                {% for error in field.errors %}
                                                    <br/>
                                                    <div class="alert alert-danger">
                                                        <span class="help-block">{{ error }}</span>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}


                                    <div class="col-12">
                                        <div class="form-check">
                                            <div class="form-check-input" style="border: 0px">
                                                {{ form.agreement }}
                                            </div>
                                            <label for="{{ form.agreement.id_for_label }}">Я
                                                принимаю условия <a href="{% url 'users:agreement' %}">пользовательского
                                                    соглашения</a></label>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <button class="btn btn-bd-primary w-100" type="submit" id="submitBtn">Создать
                                            аккаунт
                                        </button>
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">Уже есть аккаунт? <a
                                                href="{% url 'users:user_login' %}">Войти</a>
                                        </p>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>

    </div>
{% endblock %}