{% extends 'base.html' %}

{% block title %}
    Пользовательское соглашение
{% endblock %}

{% block content %}
    <section class="section">
        <div class="row justify-content-center">
            <div class="col-lg-8">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Пользовательское соглашение</h5>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Sapien eget mi proin sed. Eget gravida cum sociis natoque
                            penatibus et. Nibh sit amet commodo nulla facilisi nullam vehicula ipsum. Morbi leo urna
                            molestie at. Lectus sit amet est placerat. Curabitur vitae nunc sed velit dignissim sodales
                            ut.
                            Elit at imperdiet dui accumsan sit amet nulla. Tincidunt arcu non sodales neque sodales.
                            Sagittis id consectetur purus ut faucibus pulvinar elementum integer. Diam in arcu cursus
                            euismod quis viverra. Feugiat in fermentum posuere urna nec tincidunt. Dolor morbi non arcu
                            risus quis varius quam quisque. Libero justo laoreet sit amet cursus. In ante metus dictum
                            at
                            tempor. Dictum fusce ut placerat orci nulla pellentesque. Consequat ac felis donec et.
                            Consequat
                            interdum varius sit amet mattis vulputate.</p>

                        <p>Malesuada fames ac turpis egestas integer eget aliquet nibh praesent. Diam quam nulla
                            porttitor
                            massa id neque aliquam vestibulum. Eu consequat ac felis donec et. Condimentum id venenatis
                            a
                            condimentum vitae sapien pellentesque habitant morbi. Dolor sit amet consectetur adipiscing
                            elit
                            ut. Aenean euismod elementum nisi quis eleifend. Lacus luctus accumsan tortor posuere ac ut.
                            Quisque id diam vel quam. Maecenas ultricies mi eget mauris pharetra. Elementum pulvinar
                            etiam
                            non quam. Velit ut tortor pretium viverra suspendisse potenti nullam ac tortor. Varius vel
                            pharetra vel turpis nunc eget lorem dolor.</p>


                        <p>At imperdiet dui accumsan sit amet. Rhoncus mattis rhoncus urna neque viverra justo.
                            Facilisis
                            gravida neque convallis a cras semper auctor neque. Vel risus commodo viverra maecenas. Non
                            enim
                            praesent elementum facilisis leo vel. Morbi tristique senectus et netus. Pulvinar elementum
                            integer enim neque volutpat ac tincidunt vitae. Amet commodo nulla facilisi nullam vehicula
                            ipsum a. Dictum at tempor commodo ullamcorper. Amet luctus venenatis lectus magna fringilla
                            urna. Et odio pellentesque diam volutpat commodo sed egestas egestas fringilla. Adipiscing
                            tristique risus nec feugiat. Ipsum dolor sit amet consectetur. Adipiscing elit ut aliquam
                            purus
                            sit amet.</p>

                        <p>
                           Enim neque volutpat ac tincidunt vitae semper quis lectus nulla. Ut placerat orci nulla
                        pellentesque. Est ullamcorper eget nulla facilisi etiam dignissim. Bibendum neque egestas congue
                        quisque egestas. Nam at lectus urna duis. At augue eget arcu dictum varius. Placerat orci nulla
                        pellentesque dignissim enim sit amet. Vestibulum mattis ullamcorper velit sed ullamcorper morbi
                        tincidunt. In arcu cursus euismod quis viverra nibh cras pulvinar mattis. Erat velit scelerisque
                        in dictum non consectetur a erat. Nunc pulvinar sapien et ligula ullamcorper malesuada proin
                        libero nunc. Faucibus turpis in eu mi. Morbi quis commodo odio aenean sed. Massa ultricies mi
                        quis hendrerit dolor magna eget. Sed arcu non odio euismod lacinia at. Maecenas pharetra
                        convallis posuere morbi.
                        </p>

                        <p>
                          Parturient montes nascetur ridiculus mus. Commodo elit at imperdiet dui accumsan sit. Habitant
                        morbi tristique senectus et netus et malesuada. Non blandit massa enim nec. Nec tincidunt
                        praesent semper feugiat. Aliquet risus feugiat in ante metus dictum at. At volutpat diam ut
                        venenatis tellus in. Facilisis magna etiam tempor orci eu. Pretium vulputate sapien nec sagittis
                        aliquam malesuada bibendum arcu. Tellus in hac habitasse platea dictumst vestibulum rhoncus est.
                        Nisl purus in mollis nunc sed id semper. Mauris nunc congue nisi vitae suscipit tellus.
                        </p>

                        <p>
                            Ac ut consequat semper viverra nam libero. Eu turpis egestas pretium aenean pharetra magna
                            ac
                            placerat vestibulum. At lectus urna duis convallis convallis. Velit dignissim sodales ut eu
                            sem
                            integer. Condimentum lacinia quis vel eros. Sit amet nulla facilisi morbi. Nibh cras
                            pulvinar
                            mattis nunc sed blandit libero volutpat. Id cursus metus aliquam eleifend mi in nulla. Ut
                            venenatis tellus in metus vulputate eu scelerisque felis imperdiet. Interdum varius sit amet
                            mattis vulputate enim. Odio morbi quis commodo odio aenean sed. Nibh sit amet commodo nulla
                            facilisi nullam.
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}