<div class="modal fade no-modal-bg" id="message-modal" tabindex="-1" role="dialog"
     aria-labelledby="message-modal-label"
     aria-hidden="true" data-bs-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-center border-0 mb-0 pt-5">
            <div class="modal-body" style="padding: 0;">
                <div id="message" class="alert" role="alert"></div>
                <div>
                    <i class="ri-close-circle-fill" data-dismiss="alert" id="close-icon"></i>
                </div>

            </div>
        </div>
    </div>
</div>